.animalTarget .animalDetails {
    background-color:  rgb(240, 240, 240);
    border-radius: 20px;
    padding : 40px;
    margin : 20px 40px;  
    box-sizing: border-box;
}


.animalTarget .animalDetails * {
    color:#455;
}

.animalTarget .bold {
    font-weight: bold;
}

.animalTarget .name {
    font-size: 3em;
}

.animalTarget .animalDetails p {
    font-size : 1.3em;
}

.animalTarget .specie {
    font-style : italic;
}
 
.animalTarget .ani-id {
    margin-top : 20px;
}

.animalTarget .mid-part {
    padding-right : 25px;
}

.animalTarget .desc {
    text-align: justify;
}

.animalTarget .animalPortrait {
    border-radius: 10px;
    width: 80%
}

.animalTarget .sponsorship {
    background-color:  rgb(240, 240, 240);
    border-radius: 20px;
    padding : 40px;
    margin : 40px;
    margin-bottom: 0;  
    box-sizing: border-box;
}

.animalTarget .sponsor {
    background-color: #455;
    color : white;
    border-radius : 10px;
    text-align: center;
    font-size: 2em;
    padding-top : 10px;
    padding-bottom: 10px;
    
}


.animalTarget .why-sponsor {
  text-align: center;
  margin-bottom : 20px;
}

.animalTarget .why {
    background-color: #455;
    color : white;
    width : 400px;
    margin : 0 auto;
    border-radius: 30px;
    padding: 5px 30px 10px 30px;
    margin-bottom : 20px;
}

.animalTarget .why2 {
    color : #455;
    margin-bottom : 20px;
}

.animalTarget .text-sponsor {
    color : #455;
    width : 60%;
    margin : 0 auto;
    font-size: 1.1em;
}

.animalTarget .grid {
    justify-content: center;
}

.animalTarget {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}