.animalTarget .animalDetails {
    background-color:  rgb(240, 240, 240);
    border-radius: 20px;
    padding : 5%;
    margin : 2% 3%;  
    box-sizing: border-box;
}


.animalTarget .animalDetails * {
    color:#455;
}

.animalTarget .bold {
    font-weight: bold;
}

.animalTarget .name {
    font-size: 3em;
}

.animalTarget .animalDetails p {
    font-size : 130%;
}

.animalTarget .specie {
    font-style : italic;
}
 
.animalTarget .ani-id {
    margin-top : 3%;
}

.animalTarget .mid-part {
    padding-right : 3%;
}

.animalTarget .desc {
    text-align: justify;
}

.animalTarget .animalPortrait {
    border-radius: 10px;
    width: 80%
}

.animalTarget .sponsorship {
    background-color:  rgb(240, 240, 240);
    border-radius: 20px;
    padding : 5%;
    margin : 3%;
    margin-bottom: 3%;  
    box-sizing: border-box;
}

.animalTarget .sponsor {
    background-color: #455;
    color : white;
    border-radius : 10px;
    text-align: center;
    font-size: 180%;
    padding-top : 5%;
    padding-bottom: 5%;
    
}


.animalTarget .why-sponsor {
  text-align: center;
  margin-bottom : 3%;
}

.animalTarget .why {
    background-color: #455;
    color : white;
    width : 35%;
    margin : 0 auto;
    border-radius: 30px;
    padding: 1% 1% 1.5% 1%;
    margin-bottom : 3%;
}

.animalTarget .why2 {
    color : #455;
    margin-bottom : 2%;
}

.animalTarget .text-sponsor {
    color : #455;
    width : 60%;
    margin : 0 auto;
    font-size: 110%;
}

.animalTarget .grid {
    justify-content: center;
}

.animalTarget {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 425px) {
    .animalTarget .why {
        width : 90%;
    }

.animalTarget .why-sponsor {
      margin-bottom: 10%;
}
.animalTarget .animalPortrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animalTarget .mid-part {
    justify-content: center;
}

}