
.signupPage {
    background-image: url("../media/elephantBackground.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh
}

@media screen and (max-width: 425px) {
    .formSU {
        margin-left: -95%;
        margin-right: 2%;
    }
}