.whatwedo {
    height : 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    /* background-color: rgb(151,95,50); */
    padding: 2%;
}

.whatwedo h1 {
    margin: 2.5%;
}